.popular {
    background-color: var(--body-color-alt);
  }
  
  .popular_container {
    padding-block: 2rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5rem 1.5rem;
  }

  /* ----- query screen ------ */

  @media screen and (max-width: 330px) {
    .popular_container {
      grid-template-columns: 160px;
      justify-content: center;
    }
  }

  @media screen and (min-width: 540px) {
    .popular_container {
      grid-template-columns: repeat(2, 160px);
      justify-content: center;
   }
  }

  @media screen and (min-width: 768px) {
    .popular_container {
      grid-template-columns: repeat(3, 160px);
    }
  }

  @media screen and (min-width: 1150px) {
    .popular_container {
      grid-template-columns: repeat(3, 250px);
      gap: 6.5rem 4rem;
      padding-block: 3rem;
    }
  }