.recipe_card {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    &:nth-child(even) .recipe_box {
      order: 1;
    }
    .recipe_box {
      width: 60px;
      height: 60px;
      flex-shrink: 0;
      background-color: var(--first-color);
      border: 3px solid var(--container-color);
      border-radius: .75rem;
      display: grid;
      place-items: center;
      img{
        width: 50px;
        filter: var(--shadow-small-img);
      }
    }
    div {
      .recipe_title {
        font-size: var(--normal-font-size);
        margin-bottom: .5rem;
      }
      .recipe_description {
        font-size: var(--small-font-size);
      }
    }
    /* Query screen */
    @media screen and (min-width: 1150px) {
      column-gap: 1rem;
      .recipe_box {
        width: 100px;
        height: 100px;
        border-radius: 1.25rem;
        border-width: 5px;
        img{
          width: 85px;
        }
      }
      div {
        .recipe_title {
          font-size: var(--h3-font-size);
        }
        .recipe_description {
          font-size: var(--normal-font-size);
        }
      }
    }
  }

