.delivery_container {
    row-gap: 2.5rem;
  }
  
  .delivery_data {
    position: relative;
    text-align: center;
  }
  
  .delivery_container .section_title {
    margin-bottom: 1rem;
  }
  
  .delivery_description {
    margin-bottom: 2rem;
  }
  
  .delivery_sticker {
    width: 30px;
    rotate: 15deg;
    position: absolute;
    right: 1rem;
    bottom: 1.5rem;
    opacity: .5;
  }
  
  .delivery_img {
    width: 320px;
    justify-self: center;
    filter: var(--shadow-big-img);
  }

  /* ------ query screen ------- */

  @media screen and (min-width: 540px) {
    .delivery_container {
      grid-template-columns: 360px;
      justify-content: center;
    }
  }

  @media screen and (min-width: 1150px) {
    .delivery_container {
      grid-template-columns:  440px 550px;
      column-gap: 4rem;
      align-self: center;
      padding-block: 1rem;
    }
    .delivery_container .section_title,
    .delivery_data {
        text-align: initial;
    }

    .delivery_description {
        margin-bottom: 3.5rem;
    }

    .delivery_sticker {
        width: 50px;
        right: 8rem;
        bottom: 0;
    }

    .delivery_img {
        width: 550px;
    }
  }