.contact_social {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  &:hover {
    transform: translateY(-.25rem);
  }
  a{
    width: 32px;
    height: 32px;
    background-color: hsl(45, 99%, 55%);
    color: hsl(22, 100%, 8%);
    font-size: 1.5rem;
    border-radius: .5rem;
    place-items: center;
    transition: transform .4s;
  }
}