.contact {
  .contact_container {
    position: relative;
    background-color: var(--second-color);
    color: var(--white-color);
    padding-top: 3.5rem;
    border-radius: 3rem;
    overflow: hidden;
    h2 {
      color: var(--white-color);
    }
    .contact_content {
      row-gap: 3rem;
      .contact_data {
        text-align: center;
        row-gap: 2rem;
        div {
          .contact_title {
            color: var(--white-color);
            font-size: var(--h2-font-size);
            margin-bottom: .75rem;
          }
        }
      }
      .contact_image {
        justify-self: center;
        .contact_img {
          width: 280px;
        }
      }
    }
    .contact_sticker-1 {
      width: 40px;
      top: 6.5rem;
      left: 1.5rem;
      position: absolute;
      opacity: .5;
    }
    .contact_sticker-2 {
      width: 30px;
      right: 3rem;
      bottom: 12rem;
      position: absolute;
      opacity: .5;
    }
  }
  /* ------ query screen ------ */
  @media screen and (min-width: 540px) {
    max-width: 500px;
    margin: 0 auto;
  }
  @media screen and (min-width: 1150px) {
    max-width: initial;
    .contact_container {
      border-radius: 4rem;
      padding-block: 4rem 6.5rem;
      .contact_content {
        grid-template-columns: 420px 435px;
        justify-content: center;
        column-gap: 6.5rem;
        .contact_data {
          grid-template-columns: repeat(2, max-content);
          text-align: initial;
          gap: 4.5rem 2rem;
          order: 1;
          div {
            .contact_title {
              margin-bottom: 1rem;
            }
            .contact_social {
              justify-content: initial;
            }
          }
        }
        .contact_image {
          position: relative;
          width: 100%;
          .contact_img {
            width: 420px;
            position: absolute;
            top: -2.5rem;
          }
        }
      }
      .contact_sricker-1 {
        width: 70px;
        left: 27rem;
        top: 10rem;
      }
      .contact_sricker-2 {
        width: 40px;
        right: 10rem;
        bottom: 5.5rem;
      }
    }
  }
}