.header {
    position: fixed;
    width: 100%;
    top: 0;
    left:  0;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    transition: box-shadow .4s;
  }

  .shadow-header {
    box-shadow: 0 4px 16px hsla(22, 100%, 8%, .1);
  }