.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: var(--body-color);
  box-shadow: 0 4px 16px hsla(22, 100%, 8%, .2);
  color: var(--title-color);
  display: inline-flex;
  padding: 6px;
  font-size: 1.25rem;
  border-radius: .35rem;
  z-index: var(--z-tooltip);
  transition: bottom .4s, transform .4s;
  &:hover {
    transform: translateY(-.5rem);
  }
  svg {
    margin-left: auto;
    margin-top: auto;
  }
  /* ----- query screen ------ */
  @media screen and (min-width: 1150px) {
    right: 3rem;
  }
}

.show-scroll {
  bottom: 3rem;
}