.section_title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 2rem;
  /* ------ query screen ------ */
  @media screen and (min-width: 1150px) {
    margin-bottom: 4.5rem;
  }
}