.recipe {
  overflow: hidden;
  .recipe_container {
    grid-template-columns: .5fr 1fr;
    column-gap: 1rem;
    padding-bottom: 2rem;
    .recipe_image {
      position: relative;
      display: grid;
      place-items: center;
      .recipe_img {
        position: absolute;
        max-width: initial;
        width: 200px;
        left: -6rem;
        filter: var(--shadow-big-img);
      }
    }
    .recipe_data {
      display: grid;
      row-gap: 2rem;
    }
  }
  /* ----- query screen ----- */
  @media screen and (max-width: 330px) {
    .recipe_container {
      column-gap: 5rem;
      .recipe_image {
        .recipe_img {
          left: -8rem;
        }
      }
    }
  }
  @media screen and (min-width: 540px) {
    .recipe_container {
      grid-template-columns: 200px 230px;
      justify-content: center;
      column-gap: 3rem;
      .recipe_image {
        .recipe_img {
          position: initial;
        }
      }
    }
  }
  @media screen and (min-width: 1150px) {
    .recipe_container {
      grid-template-columns: 350px 300px;
      column-gap: 8rem;
      padding-bottom: 3rem;
      .recipe_image {
        .recipe_img {
          width: 350px;
        }
      }
    }
  }
}